 body{
	 font-family:Inter;
	 }
	 h1{
	 font-weight:600;
	 }
	 h2{
	 	 font-weight:600;
	 }
	 .btn-primary{
			background-color: #07286b;
			border-radius:0px;
			border:0px;
	 }
		.navbar-brand {
			font-size: 24px;
			font-weight: bold;
			color: #ffffff !important;
		}
		.nav-link {
			color: #ffffff !important;
			text-decoration: underline;
		}
		.nav-link:hover {
			color: #ffffff;
			text-decoration: none;
		}
		.welcome {
			background-color: #07286b;
			color: #ffffff;
			padding: 50px;
			padding-top:90px;
			font-family: 'Quantico', sans-serif;
		}
		
		.welcome h1{
			color: #ffc107;
		}
				.welcome p{
		 font-family:inter;
		}
		.icon {
		text-align:left;
		float:left;
		height:5em;
		color: #07286b;
		}
		.card {
			background-color: #ffc107;
			//color: #07286b;
			fill:#07286b;
			margin-bottom: 20px;
			padding: 20px;
			border:0px;
			border-radius:0px;
		}
		.card svg{
			color: #07286b;
		}
		
				.card-highlighted {
			color: white;
			background-color: #07286b;

			margin-bottom: 20px;
			padding: 20px;
			border:0px;
			border-radius:0px;
		}
		.card-highighlighted btn{
			background-color: #ffc107 !important;
		}
		.offer-title{
		font-weight:500 !important;
		}
		.card-gray {
			background-color: #e8e8e8;
			color: #07286b;
			margin-bottom: 20px;
			padding: 20px;
		}
		.table td {
			padding: 10px;
		}
		.table tr:nth-child(even) {
			background-color: #f2f2f2;
		}
		.bg-primary{
				background-color: #07286b !important;
		}
		.card-blue {
			background-color: #07286b;
			color: #ffffff;
			padding: 20px;
			margin-bottom: 20px;
		}
		.card-gray-black {
			background-color: #e8e8e8;
			color: #000000;
			padding: 20px;
			margin-bottom: 20px;
		}
		.footer {
			background-color: #07286b;
			color: #ffffff;
			padding: 50px;
		}
		.footer-title {
			color: #ffc107;
			font-weight: bold;
			margin-bottom: 10px;
		}
		.footer-text {
			margin-bottom: 20px;
		}
		.form-control {
			margin-bottom: 10px;
		}
		.card-price{
		font-weight:500 !important;
		}
		
		.card ul{
		margin:0px;
		padding:5px 0px 5px 20px;
		}
		
		.card h3{
				margin-top:0px;
				font-weight:600;
		}
		
				.card p{
				margin-bottom:0px;
		}
				.card h2{
		margin-top:22px;
		margin-bottom:2px;
		}